<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="shortcut icon" type="image/png" href="images\ECL-Logo-1.png">
  <title>EMS | Assign Task</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-900">

  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>ECL</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <!-- <p>Dummy Heading</p> -->
        <li>
          <a href="#taskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Tasks</a>
          <ul class="collapse list-unstyled" id="taskSubmenu">
            <li>
              <a href="/viewTasks">View Tasks</a>
            </li>
            <li class="active">
              <a href="/assignTask">Assign Tasks</a>
            </li>
            <!-- <li>
                        <a href="#">Home 3</a>
                    </li> -->
          </ul>
        </li>

        <li>
          <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leave Requests</a>
          <ul class="collapse list-unstyled" id="requestSubmenu">
            <li>
              <a href="/requestStatus">Request Status</a>
            </li>
            <li>
              <a href="/submitRequest">Submit Requests</a>
            </li>
            <!-- <li>
                        <a href="#">Page 3</a>
                    </li> -->
          </ul>
        </li>
        <li>
          <a href="#rateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Rating</a>
          <ul class="collapse list-unstyled" id="rateSubmenu">
            <li>
              <a href="/viewRating">View Rating</a>
            </li>
            <li>
              <a href="/rateEmployees">Rate Employees</a>
            </li>
            <!-- <li>
                        <a href="#">Page 3</a>
                    </li> -->
          </ul>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li> -->
        <li>
          <a href="/logout" type="button" class="logout btn btn-danger">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" style="padding: 0;">

      <div class="container-fluid flex mt-4 mb-12">

        <button type="button" id="sidebarCollapse" class="flex-2 btn btn-primary btn-lg">
          <i class="fas fa-align-left"></i>
          <span>Menu</span>
        </button>
        <button class="flex-2 btn btn-light  btn-lg d-inline-block ml-auto" type="button">
          <a href="/profile"><i class="fas fa-user-alt"></i></a>
        </button>

      </div>

      <form class="" action="assignTask" method="post">

        <h1 class="text-center mb-12 text-white">Assign Task</h1>

        <div class="relative my-4 text-center">
          <label for="search" class="leading-7 text-lg text-gray-100 pr-3">Recipient :</label>
          <input type="text" placeholder="Enter Recipient name" id="search" name="search"
            class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" style="width: 55%;" required>
        </div>


        <!-- <div class="container relative mb-4 mt-2 pt-4 text-center" style="width:50%;"> -->
        <!-- <label for="designation" class="leading-7 text-lg text-gray-100">Designation</label> -->
        <!-- <select name="grade" class="bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            required>
            <option value="default" disabled selected hidden>Choose your Grade</option>
            <option value="CMD">E9</option>
            <option value="GM">E8</option>
            <option value="DGM">E7</option>
            <option value="SM">E6</option>
            <option value="M">E5</option>
            <option value="DM">E4</option>
            <option value="AM">E3</option>
            <option value="SO">E2</option>
            <option value="other">E1</option>
          </select>
        </div> -->

        <!-- <div class="text-center relative mt-2 mb-6 pt-4">
          <input type="text" name="name" id="name" class="" placeholder="Enter Name">
        </div> -->

        <div class="text-center relative mx-auto mt-2 mb-6 pt-4">
          <button href="taskForm" type="submit" class="btn btn-primary btn-lg">Next</button>
        </div>

      </form>

    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
<!-- Ankita's changes -->

<script>
  $(function() {
    $('#search').autocomplete({
      source: function(req, res) {

        $.ajax({
          url: "autocomplete/",
          dataType: "jsonp",
          type: "GET",
          data: req,
          success: function(data) {

            res(data);
          },
          error: function(err) {
            console.log(err.status);
          }
        });
      },
      minLength: 1,
      select: function(event, ui) {
        if (ui.item) {
          $('#search').text(ui.item.label);
        }
      }
    })
  });
</script>

<!-- Ankita's changes -->

</body>

</html>
