<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <title>EMS | Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="background-img">
  <section class="text-gray-100 body-font">
    <div class="container px-5 py-5 mx-auto flex flex-wrap items-center">
      <form class="login" action="/login" method="post" autocomplete="">

        <div class="lg:w-6/6 md:w-2/2 rounded-lg p-8 flex-col md:ml-auto mr-auto w-full mt-10 md:mt-0" >

          <h1 class="text-center login-header mb-8">Login</h1>





            <div class="relative mb-4">
              <label for="username" class="leading-7 text-lg text-gray-100">Username</label>
              <input type="Number" placeholder="Enter Employee ID" id="username" name="username" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
            </div>

            <div class="relative mb-4">
              <label for="password" class="leading-7 text-lg text-gray-100">Password</label>
              <input type="password" placeholder="Enter Password" id="password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
            </div>

            <!-- <div class="link forget-pass text-left"><a href="forgotPassword">Forgot password?</a></div> -->

            <div class="text-center relative mt-2 mb-6 pt-4">
              <button type="submit" class="btn btn-success btn-lg">Login</button>
            </div>

            <!-- <div class="link signup-link text-center">Not yet a member? <a href="/signup"><strong>Signup now</strong></a></div> -->

        </div>
      </form>
    </div>
  </section>

</body>

</html>
