<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <title>EMS | Assign Task Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="text-gray-400 bg-gray-900 body-font relative">

  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>ECL</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <!-- <p>Dummy Heading</p> -->
        <li>
          <a href="#taskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Tasks</a>
          <ul class="collapse list-unstyled" id="taskSubmenu">
            <li>
              <a href="/viewTasks">View Tasks</a>
            </li>
            <li class="active">
              <a href="/assignTask">Assign Tasks</a>
            </li>
            <!-- <li>
                        <a href="#">Home 3</a>
                    </li> -->
          </ul>
        </li>

        <li>
          <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leave Requests</a>
          <ul class="collapse list-unstyled" id="requestSubmenu">
            <li>
              <a href="/requestStatus">Request Status</a>
            </li>
            <li>
              <a href="/submitRequest">Submit Requests</a>
            </li>
            <!-- <li>
                        <a href="#">Page 3</a>
                    </li> -->
          </ul>
        </li>
        <li>
          <a href="#rateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Rating</a>
          <ul class="collapse list-unstyled" id="rateSubmenu">
            <li>
              <a href="/viewRating">View Rating</a>
            </li>
            <li>
              <a href="/rateEmployees">Rate Employees</a>
            </li>
            <!-- <li>
                        <a href="#">Page 3</a>
                    </li> -->
          </ul>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li> -->
        <li>
          <a href="/logout" type="button" class="logout btn btn-danger">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" style="padding: 0;">

      <div class="container-fluid flex mt-4 mb-12">

        <button type="button" id="sidebarCollapse" class="flex-2 btn btn-primary btn-lg">
          <i class="fas fa-align-left"></i>
          <span>Menu</span>
        </button>
        <button class="flex-2 btn btn-light  btn-lg d-inline-block ml-auto" type="button">
          <a href="/profile"><i class="fas fa-user-alt"></i></a>
        </button>

      </div>


      <!-- <h2>Submit Requests</h2> -->
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Assign Tasks</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">[<span style="color:red;">*</span>All fields are mandatory]</p>
        </div>
        <form class="" action="sendEmail" method="post">

          <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 lg:w-1/2 md:w-1/2">
                <div class="relative mb-4">
                  <label for="title" class="leading-7 text-sm text-gray-400">Task Title</label>
                  <input type="text" id="title" name="title"
                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-900 focus:ring-2 focus:ring-green-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                    required>
                </div>
              </div>

              <div class="p-2 lg:w-1/2 md:w-1/2">
                <div class="relative mb-4">
                  <label for="taskDate" class="leading-7 text-sm text-gray-400" req>Due Date</label>
                  <input type="date" id="taskDate" name="taskDate"
                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-900 focus:ring-2 focus:ring-green-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out "
                    required>
                </div>
              </div>

              <div class="p-2 w-full">
                <div class="relative">
                  <label for="message" class="leading-7 text-sm text-gray-400">Task Description</label>
                  <textarea id="message" name="message"
                    class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-900 focus:ring-2 focus:ring-green-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                    required></textarea>
                </div>
              </div>
              <div class="flex text-center relative mt-2 mb-4 pt-4 w-full">
                <div class="realtive flex-1 lg:w-1/2 md:1/2 sm:1/2 mx-2">
                  <button type="submit" class="mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">Submit</button>
                </div>
                <div class="realtive flex-1 lg:w-1/2 md:1/2 sm:1/2 mx-2">
                  <button type="back" class="mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg" onclick="goBack()">Back</button>
                </div>
              </div>


            </div>
          </div>

        </form>

      </div>

    </div>
  </div>



  <script>
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>

  <script>
    $(function() {
      var dtToday = new Date();

      var month = dtToday.getMonth() + 1;
      var day = dtToday.getDate();
      var year = dtToday.getFullYear();
      if (month < 10)
        month = '0' + month.toString();
      if (day < 10)
        day = '0' + day.toString();

      var maxDate = year + '-' + month + '-' + day;
      // alert(maxDate);
      $('#taskDate').attr('min', maxDate);
    });
  </script>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</body>

</html>
