<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
  <link rel="shortcut icon" type="image/png" href="images\ECL-Logo-1.png">
  <title>EMS | View Tasks</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-900" style="overflow-x: hidden;">

  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>ECL</h3>
      </div>

      <ul class="list-unstyled components">
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <!-- <p>Dummy Heading</p> -->

        <div id="accordion">

          <li>
            <a href="#taskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Tasks</a>
            <ul class="collapse list-unstyled" id="taskSubmenu">
              <li class="active">
                <a href="/viewTasks">View Tasks</a>
              </li>
              <li>
                <a href="/assignTask">Assign Tasks</a>
              </li>
              <!-- <li>
                        <a href="#">Home 3</a>
                    </li> -->
            </ul>
          </li>

          <li>
            <a href="#requestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Leave Requests</a>
            <ul class="collapse list-unstyled" id="requestSubmenu">
              <li>
                <a href="/requestStatus">Request Status</a>
              </li>
              <li>
                <a href="/submitRequest">Submit Requests</a>
              </li>
              <!-- <li>
                        <a href="#">Page 3</a>
                    </li> -->
            </ul>
          </li>

          <!-- <li>
            <a href="#rateSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employee Rating</a>
            <ul class="collapse list-unstyled" id="rateSubmenu">
              <li>
                <a href="/viewRating">View Rating</a>
              </li>
              <li>
                <a href="/rateEmployees">Rate Employees</a>
              </li>
            </ul>
          </li> -->

        </div>

        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <!-- <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li> -->
        <li>
          <a href="/logout" type="button" class="logout btn btn-danger">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content" style="padding: 0;">

      <div class="container-fluid flex mt-4 mb-12">

        <button type="button" id="sidebarCollapse" class="flex-2 btn btn-primary btn-lg">
          <i class="fas fa-align-left"></i>
          <span>Menu</span>
        </button>
        <button class="flex-2 btn btn-light btn-lg d-inline-block ml-auto" type="button">
          <a href="/profile"><i class="fas fa-user-alt"></i></a>
        </button>

      </div>

      <!-- Start of Cards -->

      <div class="row">
        <div class="col-lg-6 text-justify">
          <div class="card text-white mx-auto bg-info mb-3" style="width: 20rem; margin: 10%;">
            <div class="card-header text-center" style="font-size: 1.6rem;">My Tasks</div>
            <div class="card-body" style="background-color: #DFF9F9;">
              <p class="card-text text-gray-700" style="font-size: 1.25rem;">In this section, you can go through the tasks assigned to you.</p>
              <div class="text-center">
                <a href="/viewMyTasks" class="btn btn-info mx-auto">View <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-justify mx-auto">
          <div class="card mx-auto text-white  bg-success mb-3" style="width: 20rem; margin: 10%; font-size: 1rem;">
            <div class="card-header text-center" style="font-size: 1.6rem;">Assigned Tasks</div>
            <div class="card-body" style="background-color: #E3F5DB;">
              <p class="card-text text-gray-700" style="font-size: 1.25rem;">In this section, you can go through the tasks you have assigned to your juniors.</p>
              <div class="text-center">
                <a href="/viewAssignedTasks" class="btn btn-success mx-auto">View <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End of Cards -->

    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>

</body>

</html>
